*{
  box-sizing: border-box;
}
h2{
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:rgb(212, 18, 18)
}
nav ul li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: black;
}
.div1{
  background-color:rgb(34, 129, 34) ;
  color: white;
}
div{
  background-color: black;
  color:white;
  text-decoration: underline;
  text-transform: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.div2{
  background-color: rgb(206, 30, 80);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: none;
}
.div3 {
  background-color: rgb(95, 95, 226);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div4{
  width: 400px;
  height: 500px;
}
h4{
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 35px;
}