*{
  box-sizing: border-box;
}
h2{
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:rgb(212, 18, 18)
}
nav ul li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: black;
}
.button{
  
  display:inline-block;
  background-color: rgb(126, 126, 222);
  color: white;
  font-size: 18px;
   
  padding-top: 15px; 
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
 
  border:3px solid rgb(249, 244, 248);


  border-radius: 15px;

  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
 
 border-radius: 10px;

}
.button-TikTok:hover{
  background-color: rgb(79, 74, 74);
}
.button-TikTok{
  background-color: black;
  color: white;
  border-color: rgb(115, 112, 112);
}
.button-WhatsApp{
  background-color: rgb(72, 243, 49);
  color: white;
  border-color: #078d0b;
  }
  .button-WhatsApp:hover{
    background-color: rgb(38, 110, 25);
  }
  .button-Instagram{
    background-color: rgb(170, 35, 25);
    color: white;
    border-color: rgb(135, 30, 49);
  }
  .button-Instagram:hover{
    background-color: crimson;
  }
  .button-Telegram{
    background-color: rgb(73, 73, 236);
    color: white;
    border-color: rgb(36, 36, 117);
  }
  .button-Telegram:hover{
    background-color: blue;
  }
.div4{
  width: 400px;
  height: 500px;
}
h4{
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 35px;
}
footer ul li a{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: black;

}