*{
  box-sizing: border-box;
}
h2{
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:rgb(212, 18, 18)
}
nav ul li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: black;
}